.st1 {
  display: inline;
  fill: #EDEDED;
}

.st2 {
  display: inline;
  fill: #D6D6D6;
}

.st3 {
  display: inline;
}

.st4 {
  fill: #B5B5B6;
}

.st5 {
  display: inline;
  fill: #636464;
}

.st6 {
  fill: #EDECED;
}

.st7 {
  fill: #858585;
}

.st8 {
  fill: #4A4A4A;
}
